<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ConsentText</key>
        <dict>
            <key>default</key>
            <string>confirm info</string>
        </dict>
        <key>PayloadContent</key>
        <array>
            <dict>
                <key>EAP</key>
                <dict/>
                <key>IPSec</key>
                <dict>
                    <key>AuthenticationMethod</key>
                    <string>SharedSecret</string>
                    <key>SharedSecret</key>
                    <data>
                    {{.PSK}}
                    </data>
                </dict>
                <key>IPv4</key>
                <dict>
                    <key>OverridePrimary</key>
                    <integer>1</integer>
                </dict>
                <key>PPP</key>
                <dict>
                    <key>AuthName</key>
                    <string>{{.account}}</string>
                    <key>AuthPassword</key>
                    <string>{{.password}}</string>
                    <key>CommRemoteAddress</key>
                    <string>{{.vpn}}</string>
                </dict>
                <key>PayloadDescription</key>
                <string>Configures VPN settings, including authentication.</string>
                <key>PayloadDisplayName</key>
                <string>VPN (L2TP Test VPN)</string>
                <key>PayloadIdentifier</key>
                <string>com.l2tp.test.vpn1</string>
                <key>PayloadOrganization</key>
                <string></string>
                <key>PayloadType</key>
                <string>com.apple.vpn.managed</string>
                <key>PayloadUUID</key>
                <string>F3D5EF66-40A2-45FB-9C84-A4BF7F5B2E60</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>Proxies</key>
                <dict/>
                <key>UserDefinedName</key>
                <string>L2TP Test VPN</string>
                <key>VPNType</key>
                <string>L2TP</string>
                <key>OnDemandEnabled</key>
                <integer>1</integer>
                <key>OnDemandRules</key>
                <array>
                    <dict>
                        <key>Action</key>
                        <string>Connect</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>PayloadDescription</key>
                <string></string>
                <key>PayloadDisplayName</key>
                <string></string>
                <key>PayloadIdentifier</key>
                <string>com.l2tp.test.passcodepolicy2</string>
                <key>PayloadOrganization</key>
                <string>kg test</string>
                <key>PayloadType</key>
                <string>com.apple.profileRemovalPassword</string>
                <key>PayloadUUID</key>
                <string>E8F12C65-D445-436B-8705-11C55145583B</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>RemovalPassword</key>
                <string>{{.password}}</string>
            </dict>
        </array>
        <key>PayloadDescription</key>
        <string>desc</string>
        <key>PayloadDisplayName</key>
        <string>L2TP Test VPN</string>
        <key>PayloadIdentifier</key>
        <string>com.l2tp.test</string>
        <key>PayloadOrganization</key>
        <string></string>
        <key>PayloadRemovalDisallowed</key>
        <false/>
        <key>PayloadType</key>
        <string>Configuration</string>
        <key>PayloadUUID</key>
        <string>AFC07915-4E83-4F48-A996-848B231D1792</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
    </dict>
</plist>
